#page {

    background-color: beige;

}

#box1 {

    background-color: hsl(120, 70%, 75%);

}

#box2 {

    width: 20%;
    float: right;
    background-color: hsl(90, 70%, 15%)
    
}

#box3 {

    width: 20%;
    float: left;
    background-color: hsl(90, 70%, 15%);
}

#midbox {

    background-color: beige;

}